* {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,
body {

    height: 100%;
    width: 100%;
    overflow: hidden;

}

#main {

    height: 100%;
    width: 100%;
    position: relative;

}

#nav {

    width: 100%;
    height: 5vw;
    /* background-color: #b09aef; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3vw;

}

#nav img {
    height: 10vw;
    width: 10vw;
}

#nav-prt0 {

    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.1vmax;

}

#nav #nav-prt0 button {

    padding: 0.7vw 1.7vw;
    font-size: 1.1vmax;
    background-color: #b09aef;
    color: #fff;
    border-radius: 0.3vw;

}

#nav #nav-prt0 i {

    font-size: 1.6vmax;
    display: none;

}

#nav-prt0 h3:hover {
    text-decoration: underline;
}

#content {

    width: 100%;
    height: calc(100% - 5vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

}

#content #left {

    width: 40%;
    height: 100%;
    padding: 6.5vw 0vw 0 6vw;

}

#content #left h1 {

    width: 100%;
    font-size: 3vmax;

}

#content #left h1 span {

    color: #b09aef;

}

#content #left p {

    width: 75%;
    font-size: 1.1vmax;
    line-height: 3vh;
    margin-top: 4.3vh;
    margin-bottom: 6.5vh;

}

#content #left button {

    font-size: 1.5vw;
    text-transform: capitalize;
    background: #b09aef;
    color: #fff;
    padding: 0.8vw 1.7vw;
    border-radius: 0.3vw;

}

#content #right {

    width: 60%;
    height: 100%;

}

#content #right img {

    width: 100%;
    height: 100%;


}

@media (max-width:800px) {

    #nav {

        height: 14vw;
        /* background-color: #b09aef; */
        padding: 0 6vw;

    }

    #nav img {
        height: 16vw;
        width: 16vw;
    }


    #nav #nav-prt0 {

        width: 65%;

    }

    #nav #nav-prt0 h3 {

        font-size: 2vw;

    }

    #nav-prt0 h3:hover {
        text-decoration: none;
    }

    #nav #nav-prt0 button {
        font-size: 1.5vmax;
        border-radius: 0.4vw;
    }

    #content {

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

        -ms-flex-direction: column;

        flex-direction: column;

    }

    #content #left {

        width: 100%;
        height: calc(100%-14vw);

    }

    #content #left h1 {

        font-size: 9vw;

    }

    #content #left p {

        width: 85%;
        font-size: 3vw;
        line-height: 2.2vh;
        margin-top: 6vh;
        margin-bottom: 4vh;

    }

    #content #left button {

        font-size: 2.5vw;
        padding: 1vw 2vw;
        border-radius: 0.4vw;

    }

    #content #right {

        height: 100%;
        width: 100%;

    }

}

@media (max-width:600px) {

    #nav {
        height: 14vw;
        width: 100%;
        /* background-color: #b09aef; */
        padding: 0 6vw;
    }

    #nav img {
        height: 16vw;
        width: 16vw;
    }

    #nav #nav-prt0 {
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        gap: 5vw;
    }

    #nav #nav-prt0 h3 {
        font-size: 2vw;
        display: none;
    }

    #nav #nav-prt0 button {
        font-size: 1.2vmax;
        border-radius: 0.4vw;
    }

    #nav #nav-prt0 i {
        display: block;
        font-size: 2.3vmax;
    }

    #content #left h1 {
        width: 80%;
    }

    #content #left p {
        margin-top: 2vh;
        margin-bottom: 3vh;
    }

    #content #left button {
        font-size: 3vw;
        padding: 1vw 2vw;
        border-radius: 0.4vw;
    }

    #content #right img {
        height: 88.85%;
        width: 100%;
    }

}